<!--The content below is only a placeholder and can be replaced.-->
<div class="page">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" class="app-sidenav">
      <mat-nav-list>
        <div class="firstPageContainer">
          <a mat-list-item class="previous" (click)="previousPage()">
            <i class="material-icons" style="float:left">keyboard_arrow_up</i>
            &ensp;Previous
          </a>
          <div class="firstPage" *ngIf="allowFirstPage">
            <a mat-list-item class="justAdded"><i class="material-icons" style="float:left">star</i>&ensp;Just Added</a>
            <a mat-list-item class="movie"><i class="material-icons" style="float:left">movie_filter</i>&ensp;Movie</a>
            <a mat-list-item class="tv"><i class="material-icons" style="float:left">live_tv</i>&ensp;TV</a>
            <a mat-list-item class="music"><i class="material-icons" style="float:left">library_music</i>&ensp;Music</a>
            <a mat-list-item class="contact"><i class="material-icons" style="float:left">contact_phone</i>&ensp;Contact</a>
            <a mat-list-item class="game"><i class="material-icons" style="float:left">videogame_asset</i>&ensp;Game</a>
            <a mat-list-item class="kids"><i class="material-icons" style="float:left">child_care</i>&ensp;Kids</a>
            <a mat-list-item class="maps"><i class="material-icons" style="float:left">map</i>&ensp;Maps</a>
            <a mat-list-item class="shoppingCart"><i class="material-icons" style="float:left">shopping_cart</i>&ensp;Shop</a>
          </div>
          <div class="secondPage" *ngIf="allowSecondPage">
            <a mat-list-item class="justAdded" (click)="welcomePage=false"><i class="material-icons" style="float:left">wc</i>&ensp;Washroom</a>
            <a mat-list-item class="movie"><i class="material-icons" style="float:left">fastfood</i>&ensp;Airline Meal</a>
            <a mat-list-item class="music"><i class="material-icons" style="float:left">build</i>&ensp;Under
              Development</a>
            <a mat-list-item class="music"><i class="material-icons" style="float:left">build</i>&ensp;Under
              Development</a>
            <a mat-list-item class="music"><i class="material-icons" style="float:left">build</i>&ensp;Under
              Development</a>
            <a mat-list-item class="music"><i class="material-icons" style="float:left">build</i>&ensp;Under
              Development</a>
            <a mat-list-item class="music"><i class="material-icons" style="float:left">build</i>&ensp;Under
              Development</a>
            <a mat-list-item class="music"><i class="material-icons" style="float:left">build</i>&ensp;Under
              Development</a>
            <a mat-list-item class="music"><i class="material-icons" style="float:left">build</i>&ensp;Under
              Development</a>
          </div>
        </div>
        <div class="secondPageContainer">
          <a mat-list-item class="next" (click)="nextPage()">
            <i class="material-icons" style="float:left">
              keyboard_arrow_down</i>
            &ensp;Next
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="primary--toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="mat-24">menu</mat-icon>
        </button>
      </mat-toolbar>
      <app-welcome *ngIf="welcomePage"></app-welcome>
      <app-washroom class="washroom--content" *ngIf="!welcomePage"></app-washroom>
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>

<router-outlet></router-outlet>
